* {
  padding: 0;
  margin: 0;
 }
 body {
   background-color: black;
 }
 .container {
   width: 300px;
   height: 200px;
   /* background-color: white; */
   position: absolute;
   top: 50%;
   left: 50%;
   transform:translate(-50%,-50%);
 }
 .default {
   width: 50px;
   height: 50px;
 }
 .red {
   background-color: red;
   border-radius: 50%;
   position: absolute;
   top: 50%;
   transform: translate(-100%,-50%);
   left:25%;
   animation: bounce 1s 0.6s infinite;
 }
 @keyframes bounce{
   0%{top:50%}
   50%{top: 25%}
   100%{top:50%}
 }
 .yellow
 {
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-100%,-50%);
  left:45%;
  animation: bounce 1s 0.75s infinite;
 }
 .green {
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-100%,-50%);
  left:65%;
  animation: bounce 1s 0.9s infinite;
 }
 .blue {
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-100%,-50%);
  left:85%;
  animation: bounce 1s 1s infinite;
 }
 .shadow {
   width: 50px;
   height: 15px;
   background-color: rgba(205, 203, 203, 0.66);
   border-radius:80%;
   position: absolute;
   top: 70%;
 }
 .shadowRed {
   left: 18%;
   transform: translate(-50%,-50%);
   animation: shrink 1s 0.6s infinite;
 }
 @keyframes shrink {
   0%{width: 50px;height: 15px;}
   50%{width: 30px;height: 5px;}
   100%{width: 50px;height: 15px;}
 }
 .shadowYellow {
  transform: translate(-50%,-50%);
  left:38%;
  animation: shrink 1s 0.75s infinite;
 }
 .shadowGreen {
  transform: translate(-50%,-50%);
  left:58%;
  animation: shrink 1s 0.9s infinite;
 }
 .shadowBlue {
  transform: translate(-50%,-50%);
  left:78%;
  animation: shrink 1s 1s infinite;
 }
 .shine { 
   box-shadow: 0px 5px 10px 5px white;
   position: absolute;
   top: 5px;
   left: 50%;
   background-color: white;
 }