* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: black;
  font-family: "poppins";
}
a {
  position: relative;
  width: 100px;
  height: 50px;
  padding: 50px 100px;
  border-radius: 90px;
  border:5px solid tra;
  text-transform:uppercase;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
a span {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: -35px;
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
  letter-spacing: 10px;
}
a .liquid {
  z-index: 1;
  display: block;
  width: 100%;
  height: 350px;
  position: absolute;
  left: 0;
  right: 0;
  top: -80px;
  background-color: rgb(6, 67, 174);
  transition: 1s ease-in-out;
}
div.liquid::before,div.liquid::after {
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left:50%;
  right: 0;
  transform: translate(-50%,-75%);
  background: grey;
}
div.liquid::before {
  border-radius: 40%;
  background: rgba(0, 0, 0, 0.529);
  animation: animate 5s linear infinite;
}
a:hover .liquid{
  top: -190px;
}
div.liquid::after {
  border-radius: 45%;
  background: black;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
} 