* {
  padding: 0;
  margin: 0;
}
body {
  background-color: grey;
  font-family: "poppins";
}
.card-container {
  width: 25%;
  background-color: black;
  color: white;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  padding: 60px 50px;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 0px 30px 5px white;
  user-select: none;
}
div.state-container {
  overflow: hidden;
  margin-bottom: 20px;
}
div.state-container > div {
  display: inline-block;
  padding-right:20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  border-bottom: 3px solid transparent;
}
input,label {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  display: block;
  user-select: none;
}
input {
  padding:20px;
  border: 1px solid transparent;
  border-radius: 80px;
  font-size: 20px;
}
input:focus {
  outline: none;
}
#sign-in-button {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #039494;
  color: white;
  font-size: 20px;
  transition: 0.3s linear;
}
#sign-in-button:hover {

  background-color: #048383;
}
.forgot-password p{
  margin-top: 20px;
  text-align: center;
  color: #039494;
}
/* .slider {
  width: 60px;
  height: 10px;
  border-bottom: 3px solid #039494 ;
  position: absolute;
  top: 90px;
  left: 50px;
  transition: 0.3s ease-in-out;
} */
.login-option:hover{
  border-bottom:3px solid #039494;
} 
.signup-option:hover{
  border-bottom:3px solid #039494;
}
.signup {
  position: absolute;
  top: 0px;
  transform:rotateY(180deg);
  backface-visibility: hidden;
  transition:0.3s linear;
  /* background-color: red; */
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}
.login {
  transition: 0.3s linear;
  backface-visibility: hidden;
  /* background-color: yellow; */
  position: absolute;
  top: 0px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotateY(0deg);
  
}
.wrapper {
  /* overflow: hidden; */
  transform-style: preserve-3d;
  position: relative;
  height: 450px;
  transition: 0.5s ease-in-out;
}